/**
* This is the main CSS file. All implementations should be done here.
* 
*/

/** Variable declarations */

:root {
  /**
    * Cores do layout
    */
  --amarelo: #f0a500;
  --burro-fugido: #f1e3cb;
  --laranjacque: #e45826;
  --marrom-queimado: #290001;
  --faq-container: #e87248;
  --gradiente-laranjacque-amarelo: 92.34deg, #e45826 44.26%, #f0a500 116.9%;

  --bonus-color-border: #b61111;
  --bonus-color-background: linear-gradient(
    97.67deg,
    #e45826 5.19%,
    #e4744c 69.31%
  );

  /**
    * Fontes do layout
    */

  --font-family-headline: "Damion", sans-serif;
  --font-family-body: "Montserrat", sans-serif;

  /**
    * Tamanho de fontes do layout
    */
  --font-size-base: 16px;
  --font-size-headline-principal: 4em;
  --font-size-title-section: 3em;
  --font-size-subtitle-section: 1.5em;
  --font-size-title-faq: 1.125em;

  /** Shadows */
  --box-shadow-amarelo: 0px 5px 19px -10px #f0a500;
  --box-shadow-garantia: 2px 10px 20px rgba(41, 0, 1, 0.5);
  --box-shadow-bonus: 0px 15px 30px -15px #e45826;

  --filter-youtube-player: drop-shadow(0px 16px 32px rgba(35, 23, 5, 0.26));
}

/** Default classes to manage layout **/
.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-start {
  align-items: flex-start;
}

.flex-item-two-column {
  flex-basis: 48%;
}

.flex-item-three-column {
  flex-basis: 31%;
}

/** Layout CSS color declarations */
body {
  background-color: var(--burro-fugido);
  font-family: var(--font-family-body);
}

.bg-marrom-queimado {
  background-color: var(--marrom-queimado);
}

/** Default typography basic settings */
.text-orange {
  color: var(--laranjacque);
}

.text-yellow {
  color: var(--amarelo);
}

b,
strong,
.text-strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headline);
  line-height: 160%;
}

.section-title {
  font-size: var(--font-size-title-section);
  color: var(--gradiente-laranjacque-amarelo);

  padding: 0 5px;
  margin-bottom: 30px;

  background-image: -webkit-linear-gradient(
    var(--gradiente-laranjacque-amarelo)
  ); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(
    var(--gradiente-laranjacque-amarelo)
  ); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(
    var(--gradiente-laranjacque-amarelo)
  ); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(
    var(--gradiente-laranjacque-amarelo)
  ); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(
    var(--gradiente-laranjacque-amarelo)
  ); /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#targets-wrapper,
#bonus-wrapper,
#investiment-wrapper {
  max-width: 1000px;
  flex-wrap: wrap;
  gap: 20px;
}

#modules-wrapper {
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 20px;
}

#section-modules,
#section-bonus-descrition,
#section-investiment,
#section-about-maciel {
  padding: 50px 0;
  margin: 50px 0;
}

/*************************************
*   Modules and Bonuses section stylesheet
*************************************/
#section-modules {
  background: var(--marrom-queimado);
}

#section-modules #modules-wrapper {
  gap: 35px;
}

.module-item {
  border-radius: 0px 20px;
  background: var(--bonus-color-background);
  padding: 30px 45px;
  position: relative;
  border: 1px solid #b61111;
  font-family: var(--font-family-body);
  color: var(--burro-fugido);
  filter: brightness(0.9);
  transition: all 0.3s ease-in-out;
}

.module-item:hover {
  filter: brightness(1);
}

@media screen and (max-width: 780px) {
  #section-modules #modules-wrapper {
    padding: 0 20px;
  }

  .module-item {
    padding: 30px 20px;
  }
}

.module-date {
  font-weight: bold;
  line-height: 1.1em;
  margin-bottom: 2px;
}

.module-title-container {
  justify-content: space-between;
  width: 100%;
  position: relative;
  align-items: baseline;
}

.module-title {
  font-size: 1.5em;
  line-height: 1.6em;
  font-weight: 600;
  position: relative;
  padding-left: 10px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-family-body);
}

.module-title::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  background: var(--burro-fugido);
  border-radius: 0 9px;
  display: block;
}

.module-description {
  font-size: var(--font-size-base);
  font-style: normal;
  letter-spacing: 1px;
  font-family: var(--font-family-body);
}

/*************************************
*   Targets item stylesheet
*************************************/
.target-item {
  background: var(--amarelo);
  border-radius: 50px;
  height: 4em;
  font-size: 1.5em;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.target-item:hover {
	box-shadow: 0px 10px 30px -15px var(--amarelo);
}

@media screen and (max-width: 780px) {
  .target-item {
    font-size: 1.2em;
  }
}

.target-text {
  font-family: var(--font-family-body);
  font-style: normal;
  font-weight: 500;
  padding: 0 20px 0 30px;
  text-shadow: 0px 2px 4px rgba(41, 0, 1, 0.5);
  letter-spacing: 1px;
  color: var(--burro-fugido);
}

.target-icon {
  position: relative;
  height: 100%;
  width: 6em;
  content: "";
  background: url("images/avatar__mentoria.svg") no-repeat;
  background-size: 100%;
  background-position: center center;
  border-radius: 0 50px 50px 0;
}

/** Bonuses specific replacements */
#bonus-wrapper .flex-item-two-column {
  gap: 20px;
}

.bonus-shadow {
  box-shadow: 0 15px 10px -15px #e45826;
  transition: all 0.4s ease-out;
}

.bonus-shadow:hover {
  box-shadow: var(--box-shadow-bonus);
}

.module-description li::before {
  content: "";
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(images/grao__cafe.svg) no-repeat;
  background-size: contain;
  background-position: center center;
  width: 1.6em;
  height: 1.6em;
  top: 0;
  left: 0;
  bottom: 0;
}

.module-description li {
  position: relative;
  margin: 5px 0px;
  line-height: 1.6em;
  padding-left: 2em;
  display: flex;
  align-items: center;
}

/** Investiment section */

#investiment-wrapper {
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
}

/**
* Fixes for investment container on mobile and tablet devices
*/

@media screen and (max-width: 780px) {
  #investiment-wrapper {
    flex-direction: column-reverse;
    max-width: 500px;
    gap: 5em;
  }
}

#section-investiment {
  background: linear-gradient(
    180deg,
    rgba(234, 224, 188, 0) 0.04%,
    #eae0bc 23.57%,
    #eae0bc 52.64%,
    rgba(234, 224, 188, 0) 86.35%
  );
}

#investiment-description {
  flex-basis: 55%;
  font-family: var(--font-family-body);
  color: var(--marrom-queimado);
}

#section-investiment .section-title,
#section-about-maciel .section-title {
  margin-bottom: 5px;
  line-height: 1em;
}

#section-investiment .section-subtitle {
  font-family: var(--font-family-body);
  margin-bottom: 30px;
}

#warranty-badge {
  flex-basis: 38%;
  font-family: var(--font-family-body);
  line-height: 115%;
  color: var(--burro-fugido);
  background: #290001;
  box-shadow: 2px 10px 20px rgba(41, 0, 1, 0.5);
  border-radius: 30px;
  padding: 50px 25px;
  gap: 15px;
  transition: all 0.4s ease-in-out;
}

#warranty-badge:hover {
  transform: translateY(-10%);
}

#price-container {
  gap: 15px;
}

#price_introduction {
  font-size: 1.3em;
  text-align: center;
  width: 80%;
}

#price_original {
  color: red;
  text-decoration: line-through;
}

#price_off {
  color: green;
  font-weight: 700;
  font-size: 1.3em;
}

#section-about-maciel .section-title {
  padding-left: 0;
}

#section-about-maciel #instagram-maciel {
  margin: 5px 0 30px 0;
  text-decoration: none;
  position: relative;
}

#instagram-maciel::before {
  content: "";
  height: 2px;
  background: var(--laranjacque);
  position: absolute;
  left: 0;
  width: 0;
  bottom: -0.5em;
  transition: width 0.5s ease-out;
}

#instagram-maciel:hover::before {
  width: 100%;
}

#section-about-maciel div {
  max-width: 450px;
}

#section-about-maciel img {
  max-width: 380px;
  filter: drop-shadow(0px 10px 5px var(--laranjacque));
  transition: all 0.5s ease-out;
}

#section-about-maciel img:hover {
  filter: drop-shadow(0px 10px 20px var(--laranjacque));
}

#section-about-maciel p {
  margin-bottom: 1em;
  line-height: 120%;
}

@media screen and (max-width: 780px) {
  #section-about-maciel {
    flex-direction: column-reverse;
    gap: 2em;
  }
}

/** FAQ construction */
#faq-container {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 940px;
  padding: 0 20px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.faq-card {
  cursor: pointer;
  width: 100%;
  background: var(--faq-container);
  border-radius: 5px;
  border: 2px solid var(--laranjacque);
  font-family: var(--font-family-body);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  box-sizing: border-box;
  gap: 0px;
  transition: all 0.5s ease;
}

.faq-question {
  color: var(--burro-fugido);
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.faq-question span {
  font-size: var(--font-size-title-faq);
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.faq-question span::before {
  content: url('images/faq__plus_button.svg');
  display: flex;
  position: relative;
  transition: all 0.5s ease;
  transform-origin: center center;
}

.faq-opened .faq-question span::before {
  transform: rotate(45deg);
}

.faq-answer {
  position: relative;
  background: var(--burro-fugido);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.9em;
  line-height: 130%;
  overflow: hidden;
  transition: all 0.5s ease;
  max-height: 0;
}

.faq-answer span {
  padding: 10px 15px;
  display: block;
  box-sizing: border-box;
}


/**
* Footer personalizations
*/

#footer-social-media {
  justify-content: space-around;
  max-width: 250px;
  margin: 2em auto;
}

#copyright-container {
  font-family: var(--font-family-body);
  font-weight: 700;
  text-align: center;
  margin: 2em auto;
}



/**
* Adjustments for mobile layout
*/
@media screen and (max-width: 400px) {
  #targets-wrapper {
    justify-content: left;
    padding: 0 20px;
  }

  #section-bonus-descrition .section-title,
  #section-faq-container .section-title,
  #section-modules .section-title,
  #section-targets .section-title,
  #section-investiment,
  #section-about-maciel {
    padding-left: 20px;
  }

  .flex-item-two-column {
    flex-basis: 87%;
  }

  #price-container {
    justify-content: left;
    align-items: baseline;
  }

  #price_introduction {
    font-size: 1.3em;
    text-align: left;
    width: 100%;
  }

  .faq-question span {
    flex-direction: column;
  }
}